@page
@model IndexModel
@{
    ViewData["Title"] = "Favorites";
}

    <body onload="titleAnimation()">

        <div id="wrapper">
            <h3 id="title-anim">Saftey Dance</h3>

            <div>
                <div class="text-center">
                    <h1 class="display-4 mt-5 mb-5 my_fav-title" id="animate">My Favorite Song</h1>
                    <iframe width="560" height="315" src="https://www.youtube.com/embed/-wbQY7Hz_Ns" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                </div>
            </div>



        </div>
        

    </body>